[submodule "forge"]
	path = forge
	url = https://github.com/MCImaginarium/MinecraftForge.git
	branch = 1.7.10
[submodule "bukkit"]
	path = bukkit
	url = https://github.com/MCImaginarium/Thermos-Bukkit.git
	branch = 1.7.10
